<h1>All Tag's</h1>

<ul>
	<% @tags.each do |tag| %>
	<li>	
	<%= tag.name %>
	<% if logged_in? %>
	<%= link_to "delete", tag_path(tag), method: :delete,
						data: {confirm: 'Really delete the tag?'} %>
	<% end %>

	</li>

	<% end %>
</ul>